// @mixin text-shadow($color) {
//   text-shadow: $color 4px 0 0, $color 3.87565px 0.989616px 0,
//     $color 3.51033px 1.9177px 0, $color 2.92676px 2.72656px 0,
//     $color 2.16121px 3.36588px 0, $color 1.26129px 3.79594px 0,
//     $color 0.282949px 3.98998px 0, $color -0.712984px 3.93594px 0,
//     $color -1.66459px 3.63719px 0, $color -2.51269px 3.11229px 0,
//     $color -3.20457px 2.39389px 0, $color -3.69721px 1.52664px 0,
//     $color -3.95997px 0.56448px 0, $color -3.97652px -0.432781px 0,
//     $color -3.74583px -1.40313px 0, $color -3.28224px -2.28625px 0,
//     $color -2.61457px -3.02721px 0, $color -1.78435px -3.57996px 0,
//     $color -0.843183px -3.91012px 0, $color 0.150409px -3.99717px 0,
//     $color 1.13465px -3.8357px 0, $color 2.04834px -3.43574px 0,
//     $color 2.83468px -2.82216px 0, $color 3.44477px -2.03312px 0,
//     $color 3.84068px -1.11766px 0, $color 3.9978px -0.132717px 0;
// }

.avatar-info {
  font-size: 2rem !important;
  line-height: 3rem !important;
}

.footer {
  font-size: 1.3rem !important;
}

// .page-home .about {
//   h1,
//   h2,
//   ul li a {
//     @include text-shadow(#fff);
//   }
// }

// .navigation .navigation-list .navigation-item a {
//   @include text-shadow(#fff);
// }

.bg-main {
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

.bg-main.no-webp {
  background-image: url("https://wikioss.xhemj.work/krzfs/jiekebu/9e053abc699a921eb1b004121a3b6b3a.png");
}

.bg-main.webp {
  background-image: url("https://wikioss.xhemj.work/krzfs/jiekebu/9e053abc699a921eb1b004121a3b6b3a.png/normal.webp");
}

article > .wiki-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  img {
    max-height: 350px;
  }
}

.footnote-ref::before {
  content: "[";
}

.footnote-ref::after {
  content: "]";
}
